* {
    margin: 0 auto;
    padding: 0;
}

.box {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgb(61, 128, 196);
    border: 1px solid black;
    transform:matrix(1,0,0,1,0,0);
    transition:transform 1s ease-out 0s;
}
